
.container{
  display: grid;
  grid-template-columns:repeat(15, 1fr);
  grid-template-rows:repeat(50, 1fr);
  background-color: #00f5d4;
  padding: 20px;
  width: 1000px;
  margin: auto;
  margin-top: 150px;
}

.row {
  background-color: #9b5de5;
  width: auto;
  height: 50px;
  border-radius: 1px;
  border-color: black;
  border: solid;
}
body {
background-color:#f15bb5;
}

.miner {
  background: url('miner.png') no-repeat -102px -10px;
	width: 19px;
	height: 38px;
  grid-row-start: 1;
  grid-column-start: 2;
  margin-left: 23px;
  margin-top: 10px;
}

.minerMining {
  background: url('miner.png') no-repeat -199px -17px;
	width: 25px;
	height: 31px;
}




